Repository jkawamoto/ctranslate2-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, rustfmt

.pre-commit-config.yaml:

exclude: ^CTranslate2/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [c++, c, cuda]
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: dprint
        name: run dprint
        entry: dprint fmt
        language: system
        files: \.(toml|md)$
        types: [text]
      - id: rustfmt
        name: run rustfmt
        entry: cargo fmt --
        language: system
        files: \.rs$
        types: [text]

chore: update dprint markdown plugin to v0.22.1 and clang-format hook to v22.1.5 in pre-commit config
  .dprint.json
  .pre-commit-config.yaml
Due: none

Bump version: 0.9.18 → 0.9.19
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

Bump version: 0.9.19 → 0.9.20
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

Migrate to pixi-build and update build tooling for ct2rs-platform
  .envrc
  .github/workflows/build.yaml
  .gitignore
  Cargo.toml
  ct2rs/build.rs
  ct2rs/src/sys/generator.rs
  ct2rs/src/sys/translator.rs
  ct2rs/src/sys/types.rs
  ct2rs/src/sys/whisper.rs
  docs/pixi.md
  pixi.toml
  scripts/download_whisper_base.sh
Due: dprint, rustfmt

Update pixi documentation with setup and LSP details [skip ci]
  docs/pixi.md
Due: dprint

Update test task and improve model download script
  pixi.toml
  scripts/download_whisper_base.sh
Due: dprint

Update CMAKE_POLICY_VERSION_MINIMUM and add pixi build task
  ct2rs/build.rs
  pixi.toml
Due: dprint, rustfmt

Bump version to 0.3.0 and update pixi configuration
  .envrc
  .gitignore
  pixi.toml
Due: dprint

Comment out CUDA dependencies in pixi.toml
  pixi.toml
Due: dprint

Comment out unused CUDA dependencies in pixi.toml
  pixi.toml
Due: dprint

Add CUDA dynamic and full build tasks to pixi configuration
  pixi.toml
Due: dprint

Add whisper-dyn task and update build-vv environment
  pixi.toml
Due: dprint

Bump version to 0.4.0 and update pixi tasks
  pixi.toml
Due: dprint

Enable cudnn dependency for platform-cuda-full feature
  pixi.toml
Due: dprint

Move docsrs cfg flag to RUSTDOCFLAGS in pixi tasks
  pixi.toml
Due: dprint
