Repository jkawamoto/ctranslate2-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, rustfmt

.pre-commit-config.yaml:

exclude: ^CTranslate2/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.0
    hooks:
      - id: clang-format
        types_or: [c++, c, cuda]
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.2
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: dprint
        name: run dprint
        entry: dprint fmt
        language: system
        files: \.(toml|md)$
        types: [text]
      - id: rustfmt
        name: run rustfmt
        entry: cargo fmt --
        language: system
        files: \.rs$
        types: [text]

use build support
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

fmt
  ct2rs/Cargo.toml
Due: dprint

version bump
  ct2rs/Cargo.toml
Due: dprint

feat: add `system` feature to use pre-installed CTranslate2 library
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

refactor: remove `msse4_1` feature flag and replace with `sse4.1` target feature
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

chore: bump clang-format hook to v21.1.2 in pre-commit config
  .pre-commit-config.yaml
Due: none

chore: update macOS build matrix to include macos-15 and macos-15-intel
  .github/workflows/build.yaml
Due: none

Bump version: 0.9.10 → 0.9.11
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

chore: update openblas-src and pre-commit hooks to latest versions
  .pre-commit-config.yaml
  ct2rs/Cargo.toml
Due: dprint

chore: add funding links via GitHub Sponsors
  .github/FUNDING.yml
Due: none

Bump version: 0.9.11 → 0.9.12
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

Normalize CUDA_ARCH_LIST and add explicit NVCC gencode flags for >SM99
  ct2rs/build.rs
Due: rustfmt

Bump version: 0.9.12 → 0.9.13
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

chore: simplify GitHub Actions config by removing unused Python setup and redundant verbosity flags
  .github/workflows/build.yaml
Due: none

chore: reorder badges in README for improved clarity
  README.md
Due: dprint

chore: update dprint plugins and clang-format hook versions
  .dprint.json
  .pre-commit-config.yaml
Due: none

Bump version: 0.9.13 → 0.9.14
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

chore: exclude 'dnnl' backend from tests in GitHub Actions
  .github/workflows/build.yaml
Due: none

feat: add `disable-cpu-dispatch` feature to disable runtime CPU kernel dispatching
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

chore: update GitHub Actions to use latest action versions (checkout v6, cache v5)
  .github/workflows/build.yaml
  .github/workflows/release.yaml
Due: none

chore: bump clang-format hook to v21.1.8 in pre-commit config
  .pre-commit-config.yaml
Due: none

chore: update `.gitignore` with additional rules for cargo mutants and RustRover
  .gitignore
Due: none

Bump version: 0.9.14 → 0.9.15
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

chore: bump yamlfmt hook to v0.21.0 in pre-commit config
  .pre-commit-config.yaml
Due: none

Bump version: 0.9.15 → 0.9.16
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

chore: update dprint markdown plugin to v0.21.1
  .dprint.json
Due: none

Bump version: 0.9.16 → 0.9.17
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

fix: bump sentencepiece 0.12 → 0.13 for GCC 15 compatibility
  Cargo.lock
  ct2rs/Cargo.toml
Due: dprint

chore: delete Cargo.lock
  Cargo.lock
Due: none

chore: bump clang-format hook to v22.1.2 in pre-commit config
  .pre-commit-config.yaml
Due: none

Bump version: 0.9.17 → 0.9.18
  .bumpversion.toml
  Cargo.toml
  README.md
  ct2rs-platform/Cargo.toml
  ct2rs-platform/README.md
Due: dprint

feat: plumb WITH_HIP for AMD ROCm GPU backend
  ct2rs/Cargo.toml
  ct2rs/build.rs
Due: dprint, rustfmt

feat: bypass HIP autodetect for GPU-less build hosts
  ct2rs/build.rs
Due: rustfmt

fix: use hipcc as C/CXX, pin GPU_TARGETS/AMDGPU_TARGETS
  ct2rs/build.rs
Due: rustfmt

fix(hip): validate ROCm install by bin/hipcc, not include/hip
  ct2rs/build.rs
Due: rustfmt

feat: prime CMAKE_PREFIX_PATH + link install lib dir for SONAME chain
  ct2rs/build.rs
Due: rustfmt
